#courses_list .courses ul a {
	/* This fixes a horizontal bleed issue caused by our long course names (with umatching section names) */
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 700px;
}